ConsoleApp1/.idea/
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/ConsoleApp1/obj/project.packagespec.json
ConsoleApp1/ConsoleApp1/obj/rider.project.restore.info
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/apphost.exe
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.assets.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net5.0/ref/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.deps.json
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.dev.json
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1/bin/Debug/net5.0/ref/ConsoleApp1.dll
ConsoleApp1/Calculator/obj/
ConsoleApp1/Calculator/bin/
ConsoleApp1/Triangle/obj/project.assets.json
ConsoleApp1/Triangle/obj/project.nuget.cache
ConsoleApp1/Triangle/obj/project.packagespec.json
ConsoleApp1/Triangle/obj/rider.project.restore.info
ConsoleApp1/Triangle/obj/Triangle.csproj.nuget.dgspec.json
ConsoleApp1/Triangle/obj/Triangle.csproj.nuget.g.props
ConsoleApp1/Triangle/obj/Triangle.csproj.nuget.g.targets
ConsoleApp1/Triangle/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleApp1/Triangle/obj/Debug/net5.0/apphost.exe
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.AssemblyInfo.cs
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.AssemblyInfoInputs.cache
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.assets.cache
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.csproj.AssemblyReference.cache
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.csproj.CoreCompileInputs.cache
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.csproj.FileListAbsolute.txt
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.dll
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.genruntimeconfig.cache
ConsoleApp1/Triangle/obj/Debug/net5.0/Triangle.pdb
ConsoleApp1/Triangle/obj/Debug/net5.0/ref/Triangle.dll
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.deps.json
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.dll
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.exe
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.pdb
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.runtimeconfig.dev.json
ConsoleApp1/Triangle/bin/Debug/net5.0/Triangle.runtimeconfig.json
ConsoleApp1/Triangle/bin/Debug/net5.0/ref/Triangle.dll
ConsoleApp1/SecondEx/obj/project.assets.json
ConsoleApp1/SecondEx/obj/project.nuget.cache
ConsoleApp1/SecondEx/obj/project.packagespec.json
ConsoleApp1/SecondEx/obj/rider.project.restore.info
ConsoleApp1/SecondEx/obj/SecondEx.csproj.nuget.dgspec.json
ConsoleApp1/SecondEx/obj/SecondEx.csproj.nuget.g.props
ConsoleApp1/SecondEx/obj/SecondEx.csproj.nuget.g.targets
ConsoleApp1/SecondEx/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleApp1/SecondEx/obj/Debug/net5.0/apphost.exe
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.AssemblyInfo.cs
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.AssemblyInfoInputs.cache
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.assets.cache
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.csproj.AssemblyReference.cache
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.csproj.CoreCompileInputs.cache
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.csproj.FileListAbsolute.txt
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.dll
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.genruntimeconfig.cache
ConsoleApp1/SecondEx/obj/Debug/net5.0/SecondEx.pdb
ConsoleApp1/SecondEx/obj/Debug/net5.0/ref/SecondEx.dll
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.deps.json
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.dll
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.exe
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.pdb
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.runtimeconfig.dev.json
ConsoleApp1/SecondEx/bin/Debug/net5.0/SecondEx.runtimeconfig.json
ConsoleApp1/SecondEx/bin/Debug/net5.0/ref/SecondEx.dll
ConsoleApp1/FirstEx/obj/
ConsoleApp1/FirstEx/bin/
